<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
  
  {% if page.meta %}
  <title>{{page.title}} :: Herve Falciani</title>
  <meta name="description" content='{{page.meta}}'>
  <meta property="og:title" content="{{page.title}}" />
  <meta property="og:image" content="{{site.baseurl}}/images/bg.jpg" />
  {% else %}
  <title>Herve Falciani :: News updates on tax evaders</title>
  <meta name="description" content="Herve Falciani a Franco-Italian systems engineer who since 2009 has been collaborating with numerous European nations by providing information relating to more than 130,000 suspected tax evaders with Swiss bank accounts">
  <meta property="og:title" content="Herve Falciani, a Franco-Italian systems engineer" />
  <meta property="og:image" content="{{site.baseurl}}/images/bg.jpg" />
  {% endif %}

  
  <!--[if lte IE 8]><script src="/css/ie/html5shiv.js"></script><![endif]-->
  <link rel="stylesheet" href="{{site.baseurl}}/css/skel.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/style.css" />
  <link rel="stylesheet" href="{{site.baseurl}}/css/style-xlarge.css" />
  <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
</head>
<body id="top">

<aside class="sharing">
  <div class="g-plusone" data-annotation="inline" data-width="300"></div>
</aside>

<header id="header">
  <a href="{{site.baseurl}}/index.html" class="image avatar"><img src="/images/avatar.jpg" alt="Herve Falciani" /></a>
  <h1><strong>I am Herve Falciani</strong>, a Franco-Italian systems engineer<br />
  who since 2009 has been collaborating with<br />
  numerous European nations by providing information<br />
  relating to more than 130,000 suspected <br />
  tax evaders with Swiss bank accounts</h1>
</header>